# Entradas
net "A(3)" loc = "p5";
net "A(2)" loc = "p6";
net "A(1)" loc = "p7";
net "A(0)" loc = "p8";

net "B(3)" loc = "p9";
net "B(2)" loc = "p10";
net "B(1)" loc = "p11";
net "B(0)" loc = "p12";

# Salidas
net "Cs" loc = "p14";

net "S(3)" loc = "p15";
net "S(2)" loc = "p16";
net "S(1)" loc = "p17";
net "S(0)" loc = "p21";